.limited-spacing {
  margin-bottom: 0.5rem; /* Adjust as needed */
  padding-bottom: 0.5rem; /* Adjust as needed */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
} 