@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
}

html, body {
    /* height: 8000px; Full viewport height */
    margin: 0;
    padding: 0;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-floating {
    animation: floating 3s ease-in-out infinite;
  }
  
/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}


.scrollbar-custom::-webkit-scrollbar-track {
 width:2px;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #8888888c; /* Gray thumb */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Lighter on hover */
}



@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(-45deg, #2D7BFD, #162447, #2D7BFD);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

.gradient {
  background: linear-gradient(180deg, #6F2DBD 0%, #452A72 40%, #2D7BFD 100%);
}



/* about us - key industries  */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* Move only half since we duplicate the content */
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  background-color: black; /* Background color */
  padding: 20px 0;
}

.marquee-content {
  display: flex;
  gap: 50px; /* Adjust spacing */
  animation: marquee 10s linear infinite;
  width: max-content;
}


/* company history */
/* Fade-in and Slide-up Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Fade-in from Left */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.8s ease-out forwards;
}

/* Fade-in from Right */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInRight 0.8s ease-out forwards;
}

/* Delay for smooth sequential appearance */
.delay-200 { animation-delay: 0.2s; }
.delay-400 { animation-delay: 0.4s; }


